/* Banner 1 */
.banner1 .left {
    background-image: url('../img/banner1-img1.svg');
    background-size: cover;
    padding: 55px 42px;
    margin-right: 15px;
}

.banner1 .left p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

.banner1 .left h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 16px;
}

.banner1 .left a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 4px 17.5px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.banner1 .left a:hover {
    color: #78B9C3;
    background-color: #fff;
    transition: 0.5s;
}

.banner1 .right {
    background-image: url('../img/banner1-img2.svg');
    background-size: cover;
    padding: 55px 42px;
    margin-left: 15px;
}

.banner1 .right p {
    color: #131022;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

.banner1 .right h5 {
    color: #131022;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 16px;
}

.banner1 .right a {
    color: #131022;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 4px 17.5px;
    border: 1px solid #131022;
    border-radius: 10px;
}

.banner1 .right a:hover {
    color: #C5E66B;
    background-color: #131022;
    transition: 0.5s;
}

.banner1 {
    padding-bottom: 100px;
}

/* Banner 2 */
