/* Global */

* {
    font-family: 'Larsseit', sans-serif;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0 !important;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Background */

#fluid-1 {
    background-color: #F9FAFB;
}

#fluid-2 {
    background-image: url('../img/banner2-img.svg');
    height: 525px;
}

#fluid-3 {
    background-color: #FDF6FE;
    padding-top: 100px;
}

#fluid-4 {
    background-image: url('../img/banner3-img.svg');
    height: 684px;
}

#fluid-5 {
    background-color: #FDF6FE;
    padding-top: 100px;
}

#fluid-6 {
    background-color: #fff;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ECF1F4;
}

::-webkit-scrollbar-thumb {
    background: #484ACF;
}

::-webkit-scrollbar-thumb:hover {
    background: #383aa5;
}

/* Responsive */

@media only screen and (max-width: 991.5px) {

    * {
        text-align: center;
    }

    #fluid-2 {
        background-position: center;
        background-size: cover;
    }

    #fluid-4 {
        height: calc(150vw);     
    }
}