/* Global */

* {
    font-family: 'Larsseit', sans-serif;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Background */

#fluid-1 {
    background-color: #F9FAFB;
}