/* Slider */

.slider h3 {
    color: #131022;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

.arrow {
    padding: 12px;
    border-radius: 50%;
    background-color: #D3FCD2;
}

.arrow:hover {
    background-color: #22C55E;
    transition: 0.5s;
}

.slide {
    border-top: 2px solid #E2E5F1;
    text-align: center;
}

.slide:hover {
    border-top: 2px solid #22C55E;
    transition: 0.5s;
}

.in {
    display: inline-block;
    text-align: center;
    padding: 30px 47px;
    margin-top: 60px;
    background-color: #EBECFE;
}

.slider {
    padding-bottom: 100px;
}

/* Slider 1 */

.slider p {
    color: #585C7B;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 16px;
}

/* Slider 2 & 3*/

.in span {

    color: #FAFBFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    float: right;
    margin-top: -18px;
    margin-right: -35px;
    padding: 0 8px;
    border-radius: 20px;
    background-color: #EF4444;
}

.in+p {
    color: #3E4265;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.fa-star {
    color: #B77B04;
}

.star {
    color: #3E4A5E;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.star:hover .fa-star {
    color: #d38919;
}

.star:hover {
    color: #3E4A5E;
}

.price {
    color: #3E4265;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.price span {
    color: #B4B7C9;
    text-decoration: line-through;
    text-decoration-color: #FAA18E;
}

.cart {
    color: #131022;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 5px 24px;
    border: 1px solid #B4B7C9;
    border-radius: 16px;
}

.cart:hover {
    color: #fff;
    background-color: #22C55E;
    border: 1px solid #22C55E;
    transition: 0.5s;
}

.fa-cart-shopping:hover {
    color: #fff;
    transition: -1s;
    transition: 0.5s;
}

/* Slider 3 */
.shop span {
    color: #3E4265;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-right: 1rem;
}

.shop a {
    color: #131022;
}

.shop a:hover {
    color: #fff;
}

.filter {
    z-index: 1;
    position: relative;
    top: 60px;
}

.filter a {
    color: #585C7B;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 2px 16px;
    margin: 0 1rem;
    border: 1px solid transparent;
    border-radius: 20px;
}

.filter a:hover {
    color: #EF4444;
    border: 1px solid #EF4444;
    transition: 0.5s;
}

.filter a:focus {
    color: #EF4444;
    border: 1px solid #EF4444;
}

.slider3 .in {
    margin-top: 124px;
}

/* Slider 4 */
.slider4 .wrapper {
    border: none;
    padding-top: 60px
}

.slider4 .slide {
    border: none;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 30px;
    padding: 40px 15px;
}

.slider4 p {
    color: #B4B7C9;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.slider4 a.star {
    display: block;
    padding: 12px 0 20px;
}

.smith {
    display: inline-block;
    vertical-align: middle;
    padding-top: 30px;
}

.smith span {
    color: #131022;
}

/* Responsive */

.wrapper .mobile {
    display: none;
}

.filter-mobile {
    display: none;
}

@media only screen and (max-width: 991.5px) {

    .slider .col-lg-5 {
        display: block;
        text-align: center !important;
        margin: 1rem 0;
    }

    .wrapper .mobile {
        display: block;
    }

    .wrapper .mobile .slide {
        border: none;
    }

    .wrapper .pc {
        display: none;
    }

    .filter {
        display: none;
    }

    .filter-mobile {
        display: inline-block;
    }

    .slider4 .mobile .slide {
        width: 75%;
        margin: 0 auto;
    }
}